localhost:443 {
  root * /app/public
  encode zstd gzip

  handle /__/auth/* {
    reverse_proxy https://dreem-me-staging.firebaseapp.com {
      header_up Host {upstream_hostport}
    }
  }

  handle {
    try_files {path} /index.html
    file_server
  }

  header / {
    Cache-Control "no-cache, no-store, must-revalidate"
  }
}
